@import 'reset.scss';
@import 'vars.scss';
@import 'components/grid-system.scss';
@import 'forms/forms.scss';
@import 'components/sidebar.scss';
@import 'components/tickets-filter.scss';
@import 'components/ticket-block.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    background-color: $bg-color;
    color: $text-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-normal;
}

#app {
    padding: 5rem 0;
}